Repository apache/hadoop, pull requests merged in 2019-12, with the labels that each got.

#1530 HDFS-14869 Copy renamed files which are not excluded anymore by filter
  hadoop-tools/hadoop-distcp/src/main/java/org/apache/hadoop/tools/DistCp.java
  hadoop-tools/hadoop-distcp/src/main/java/org/apache/hadoop/tools/DistCpSync.java
  hadoop-tools/hadoop-distcp/src/test/java/org/apache/hadoop/tools/TestDistCpSync.java
Labels: hdfs

#1691 HADOOP-16424. S3Guard fsck: Check internal consistency of the MetadataStore
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/s3guard/S3GuardFsck.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/s3guard/S3GuardFsckViolationHandler.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/s3guard/S3GuardTool.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/s3guard.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/s3guard/ITestS3GuardFsck.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/s3guard/ITestS3GuardToolDynamoDB.java
Labels: fs/s3

#1753 HADOOP-16758. Refine testing.md to tell user better how to use auth-keys.xml
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/testing.md
Labels: enhancement, fs/s3

#1757 HADOOP-16757. Increase timeout unit test rule for MetadataStoreTestBase
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/test/HadoopTestBase.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/s3guard/MetadataStoreTestBase.java
Labels: enhancement, fs/s3

#1145 HADOOP-16450. ITestS3ACommitterFactory to not use useInconsistentClient.
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/commit/ITestS3ACommitterFactory.java
Labels: fs/s3, test
