Repository apache/hadoop, pull requests merged in 2019-11, with the labels that each got.

#1670 HDFS-14925. Rename operation should check nest snapshot
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirRenameOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/snapshot/SnapshotManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/snapshot/TestRenameWithSnapshots.java
Labels: hdfs

#1706 HDFS-14959: [SBNN read] access time should be turned off
  hadoop-hdfs-project/hadoop-hdfs/src/site/markdown/ObserverNameNode.md
Labels: hdfs

#1599 HADOOP-16632. Speculating & Partitioned S3A magic committers can leave pending files under __magic
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/commit/integration/ITestS3ACommitterMRJob.java
Labels: bug, fs/s3, test

#1723 HADOOP-16707. NPE in UGI.getCurrentUser in ITestAbfsIdentityTransformer setup.
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/security/UserGroupInformation.java
Labels: security
