Repository apache/hadoop, pull requests merged in 2021-08, with the labels that each got.

#3240 HADOOP-17628. Distcp contract test is really slow with ABFS and S3A; timing out.
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/test/GenericTestUtils.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/contract/s3a/ITestS3AContractDistCp.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/contract/ITestAbfsFileSystemContractDistCp.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/contract/ITestAbfsFileSystemContractSecureDistCp.java
  hadoop-tools/hadoop-distcp/src/test/java/org/apache/hadoop/tools/contract/AbstractContractDistCpTest.java
  hadoop-tools/hadoop-distcp/src/test/java/org/apache/hadoop/tools/contract/TestHDFSContractDistCp.java
Labels: fs/azure, fs/s3, test

#3277 HADOOP-17799. Improve the GitHub pull request template
  .github/pull_request_template.md
Labels: documentation

#3261 HADOOP-17834. Bump aliyun-sdk-oss to 3.13.0
  LICENSE-binary
  hadoop-project/pom.xml
Labels: dependencies

#3295 HDFS-16162.Improve DFSUtil#checkProtectedDescendants() related parameter comments.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/DFSUtil.java
Labels: documentation
