Repository apache/hadoop, pull requests merged in 2024-03, with the labels that each got.

#6603 HDFS-17406. Suppress UnresolvedPathException in hdfs router log
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/RouterRpcServer.java
Labels: HDFS, trunk, RBF

#6582 HADOOP-19084. Prune hadoop-common transitive dependencies (#6574)
  hadoop-project/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-mawo/hadoop-yarn-applications-mawo-core/pom.xml
Labels: YARN, build, trunk

#6430 HDFS-17333. DFSClient supports lazy resolution from hostname to IP.
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/net/NetUtils.java
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/DFSUtilClient.java
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/client/HdfsClientConfigKeys.java
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/server/namenode/ha/AbstractNNFailoverProxyProvider.java
  hadoop-hdfs-project/hadoop-hdfs-client/src/test/java/org/apache/hadoop/hdfs/server/namenode/ha/TestConfiguredFailoverProxyProvider.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/resources/hdfs-default.xml
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/TestDFSUtil.java
Labels: HDFS, trunk, Common

#6572 HDFS-17387. [FGL] Abstract the configuration locking mode
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/DFSConfigKeys.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystemLock.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/fgl/FSNLockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/fgl/FSNamesystemLockMode.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/fgl/GlobalFSNamesystemLock.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/fgl/package-info.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/util/RwLock.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/resources/hdfs-default.xml
Labels: HDFS, trunk

#6601 HADOOP-19097. S3A: Set fs.s3a.connection.establish.timeout to 30s
  hadoop-common-project/hadoop-common/src/main/resources/core-default.xml
Labels: trunk, Common

#6580 YARN-11657. Remove protobuf-2.5 from hadoop-yarn-api module (#6575)
  BUILDING.txt
  LICENSE-binary
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-api/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-applicationhistoryservice/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-nodemanager/pom.xml
Labels: YARN, build, trunk

#6599 HDFS-17398. [FGL] Implement the FGL lock for FSNLockManager
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/fgl/FineGrainedFSNamesystemLock.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/fgl/TestFineGrainedFSNamesystemLock.java
Labels: HDFS, trunk

#6598 HDFS-17404. Add Namenode info to log message when setting block keys from active nn
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/BPOfferService.java
Labels: HDFS, trunk

#6583 HDFS-17396. BootstrapStandby should download rollback image during RollingUpgrade
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/RouterNamenodeProtocol.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/RouterRpcServer.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/protocolPB/NamenodeProtocolServerSideTranslatorPB.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/protocolPB/NamenodeProtocolTranslatorPB.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSImage.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/NameNodeRpcServer.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/ha/BootstrapStandby.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/protocol/NamenodeProtocol.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/proto/NamenodeProtocol.proto
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/FSImageTestUtil.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/ha/TestBootstrapStandby.java
Labels: HDFS, trunk, RBF

#6600 HDFS-17405. [FGL] Using different metric name to trace performance for FGL and Global lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystemLock.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/fgl/FineGrainedFSNamesystemLock.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/fgl/GlobalFSNamesystemLock.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/TestFSNamesystemLock.java
Labels: HDFS, trunk

#6475 HDFS-17345. Add a metrics to record block report creating cost time.
  hadoop-common-project/hadoop-common/src/site/markdown/Metrics.md
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/BPServiceActor.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/metrics/DataNodeMetrics.java
Labels: HDFS, trunk, Common

#6573 HDFS-17390. [FGL] FSDirectory supports this fine-grained locking
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirectory.java
Labels: HDFS, trunk

#6566 HDFS-17299. Adding rack failure tolerance when creating a new file
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/DataStreamer.java
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/StripedDataStreamer.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/BlockReceiver.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/fsdataset/FsDatasetSpi.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/fsdataset/impl/FsDatasetImpl.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/TestDistributedFileSystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/datanode/SimulatedFSDataset.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/datanode/extdataset/ExternalDatasetImpl.java
Labels: HDFS, build, trunk, Infra

#6579 HDFS-17395. [FGL] Use FSLock to protect ErasureCodingPolicy related operations
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirErasureCodingOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
Labels: HDFS, trunk

#6465 HADOOP-19043. S3A: Regression: ITestS3AOpenCost fails on prefetch test runs
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/performance/AbstractS3ACostTest.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/performance/ITestS3AOpenCost.java
Labels: trunk, TOOLS, AWS

#6621 HDFS-17422. Enhance the stability of the unit test TestDFSAdmin.
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/tools/TestDFSAdmin.java
Labels: HDFS, trunk

#6594 HDFS-17391. Adjust the checkpoint io buffer size to the chunk size.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/TransferFsImage.java
Labels: HDFS, trunk

#6539 HADOOP-19066. S3A: AWS SDK V2 - Enabling FIPS should be allowed with central endpoint
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/DefaultS3ClientFactory.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/connecting.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AEndpointRegion.java
Labels: trunk, TOOLS, AWS

#6585 HADOOP-19088. Use jersey-json 1.22.0
  LICENSE-binary
  hadoop-project/pom.xml
Labels: build, trunk

#6624 HADOOP-19066. Run FIPS test for valid bucket locations (ADDENDUM)
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AEndpointRegion.java
Labels: trunk, TOOLS, AWS

#6623 YARN-11660. Fix huge performance regression for SingleConstraintAppPlacementAllocator
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/placement/SingleConstraintAppPlacementAllocator.java
Labels: YARN, trunk

#6549 HDFS-17380. FsImageValidation: remove inaccessible nodes.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSImage.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FsImageValidation.java
Labels: HDFS, trunk

#6632 HADOOP-14451. Deadlock in NativeIO
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/io/nativeio/NativeIO.java
  hadoop-common-project/hadoop-common/src/main/native/src/org/apache/hadoop/io/nativeio/NativeIO.c
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/io/nativeio/TestNativeIoInit.java
Labels: trunk, Common, Native

#6640 HADOOP-19112. Hadoop 3.4.0 release wrap-up.
  hadoop-common-project/hadoop-common/src/site/markdown/release/3.4.0/CHANGELOG.3.4.0.md
  hadoop-common-project/hadoop-common/src/site/markdown/release/3.4.0/RELEASENOTES.3.4.0.md
  hadoop-hdfs-project/hadoop-hdfs/dev-support/jdiff/Apache_Hadoop_HDFS_3.4.0.xml
  hadoop-mapreduce-project/dev-support/jdiff/Apache_Hadoop_MapReduce_Common_3.4.0.xml
  hadoop-mapreduce-project/dev-support/jdiff/Apache_Hadoop_MapReduce_Core_3.4.0.xml
  hadoop-mapreduce-project/dev-support/jdiff/Apache_Hadoop_MapReduce_JobClient_3.4.0.xml
  hadoop-project-dist/pom.xml
  hadoop-yarn-project/hadoop-yarn/dev-support/jdiff/Apache_Hadoop_YARN_API_3.4.0.xml
  hadoop-yarn-project/hadoop-yarn/dev-support/jdiff/Apache_Hadoop_YARN_Client_3.4.0.xml
  hadoop-yarn-project/hadoop-yarn/dev-support/jdiff/Apache_Hadoop_YARN_Common_3.4.0.xml
  hadoop-yarn-project/hadoop-yarn/dev-support/jdiff/Apache_Hadoop_YARN_Server_Common_3.4.0.xml
Labels: YARN, MapReduce, HDFS, build, trunk, Common

#6642 HADOOP-19119. Spotbugs: possible NPE in org.apache.hadoop.crypto.key.kms.ValueQueue.getSize()
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/crypto/key/kms/ValueQueue.java
Labels: trunk, Common

#6544 HADOOP-19050. Add S3 Access Grants Support in S3A
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/Constants.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/DefaultS3ClientFactory.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AFileSystem.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/impl/InternalConstants.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/authentication.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/index.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/TestS3AccessGrantConfiguration.java
Labels: trunk, TOOLS, AWS

#6643 HDFS-17431. Fix log format for BlockRecoveryWorker#recoverBlocks
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/BlockRecoveryWorker.java
Labels: HDFS, trunk

#6628 HDFS-17426. Remove Invalid FileSystemECReadStats logic in DFSInputStream
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/DFSInputStream.java
Labels: HDFS, trunk

#6644 HDFS-17433. metrics sumOfActorCommandQueueLength should only record valid commands.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/BPServiceActor.java
Labels: HDFS, trunk

#6639 HDFS-17432. Fix junit dependency to enable JUnit4 tests to run in hadoop-hdfs-rbf
  hadoop-hdfs-project/hadoop-hdfs-rbf/pom.xml
Labels: HDFS, build, trunk, RBF

#6616 YARN-11626. Optimize ResourceManager's operations on Zookeeper metadata
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/recovery/ZKRMStateStore.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/test/java/org/apache/hadoop/yarn/server/resourcemanager/recovery/TestCheckRemoveZKNodeRMStateStore.java
Labels: YARN, build, trunk

#6641 HDFS-17413. [FGL] CacheReplicationMonitor supports fine-grained lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/CacheReplicationMonitor.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/CacheManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
Labels: HDFS, trunk

#6651 HDFS-17436. Supplement log information for AccessControlException
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSPermissionChecker.java
Labels: HDFS, trunk

#6635 HDFS-17430. RecoveringBlock will skip no live replicas when get block recovery command.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/DatanodeManager.java
Labels: HDFS, trunk

#6463 MAPREDUCE-7469. NNBench createControlFiles should use thread pool to improve performance.
  hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient/src/test/java/org/apache/hadoop/hdfs/NNBench.java
  hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient/src/test/java/org/apache/hadoop/hdfs/TestNNBench.java
Labels: MapReduce, trunk

#6657 Backport HDFS-17422. Enhance the stability of the unit test TestDFSAdmin (#6621). Contributed by lei w and Hualong Zhang.
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/tools/TestDFSAdmin.java
Labels: HDFS, trunk

#6649 HDFS-17414. [FGL] RPCs in DatanodeProtocol support fine-grained lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/BlockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/DatanodeManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/ProvidedStorageMap.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirWriteFileOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirectory.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/blockmanagement/TestBlockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/blockmanagement/TestDatanodeManager.java
Labels: HDFS, trunk

#6587 HADOOP-19052.Hadoop use Shell command to get the count of the hard link which takes a lot of time
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/fs/HardLink.java
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/fs/TestHardLink.java
Labels: trunk, Common

#6666 HADOOP-19111. Removing redundant debug message about client info
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/ipc/Client.java
Labels: trunk, Common

#6592 HADOOP-19089: [ABFS] Reverting Back Support of setXAttr() and getXAttr() on root path
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/AzureBlobFileSystem.java
  hadoop-tools/hadoop-azure/src/site/markdown/abfs.md
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/ITestAzureBlobFileSystemAttributes.java
Labels: trunk, TOOLS, ABFS

#6638 HADOOP-19116. Update to zookeeper client 3.8.4 due to CVE.
  LICENSE-binary
  hadoop-project/pom.xml
Labels: build, trunk

#6671 HADOOP-19125. Exclude some files from Apache RAT check
  hadoop-common-project/hadoop-common/pom.xml
Labels: build, trunk, Common

#6672 HADOOP-19127. Do not run unit tests on Windows pre-commit CI
  dev-support/bin/hadoop.sh
Labels: trunk, Infra

#6650 HDFS-17435. Fix TestRouterRpc failed
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/TestDFSRouter.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/TestRouterRpc.java
Labels: HDFS, trunk, RBF

#6669 HDFS-17441. Fix junit dependency by adding missing library in hadoop-hdfs-rbf.
  hadoop-hdfs-project/hadoop-hdfs-rbf/pom.xml
Labels: HDFS, build, trunk, RBF

#6647 HDFS-17416. [FGL] Monitor threads in BlockManager.class support fine-grained lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/BlockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/ProvidedStorageMap.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/blockmanagement/TestBlockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/blockmanagement/TestProvidedStorageMap.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/blockmanagement/TestReplicationPolicy.java
Labels: HDFS, trunk

#6518 HDFS-17368. HA: Standby should exit safemode when resources are available.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/ha/TestHASafeMode.java
Labels: HDFS, trunk

#6546 HADOOP-18980. Invalid inputs for getTrimmedStringCollectionSplitByEquals (ADDENDUM)
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/util/StringUtils.java
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/util/TestStringUtils.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/TestS3AAWSCredentialsProvider.java
Labels: trunk, Common, TOOLS, AWS

#6468 HADOOP-19047: Support InMemory Tracking Of S3A Magic Commits
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AFileSystem.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/commit/CommitConstants.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/commit/MagicCommitIntegration.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/commit/magic/InMemoryMagicCommitTracker.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/commit/magic/MagicCommitTracker.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/commit/magic/MagicCommitTrackerUtils.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/commit/magic/MagicS3GuardCommitter.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/commit/magic/S3MagicCommitTracker.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/committers.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/commit/AbstractITCommitProtocol.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/commit/TestMagicCommitTrackerUtils.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/commit/magic/ITestMagicCommitProtocol.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/commit/terasort/ITestTerasortOnS3A.java
Labels: trunk, TOOLS, AWS

#6670 HDFS-17429. Fixing wrong log file name in datatransfer Sender.java
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/protocol/datatransfer/Sender.java
Labels: HDFS, trunk

#6634 HDFS-17410. [FGL] Client RPCs that changes file attributes supports fine-grained lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/ContentSummaryComputationContext.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/EncryptionZoneManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirEncryptionZoneOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirSatisfyStoragePolicyOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirTruncateOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/ReencryptionHandler.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/ReencryptionUpdater.java
Labels: HDFS, trunk

#6654 HDFS-17415. [FGL] RPCs in NamenodeProtocol support fine-grained lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/Checkpointer.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
Labels: HDFS, trunk

#6656 HDFS-17417. [FGL] HeartbeatManager and DatanodeAdminMonitor support fine-grained locking
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/BlockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/DatanodeAdminBackoffMonitor.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/DatanodeAdminDefaultMonitor.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/DatanodeManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/HeartbeatManager.java
Labels: HDFS, trunk

#6667 HDFS-17412. [FGL] Client RPCs involving maintenance supports fine-grained lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/BlockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
Labels: HDFS, trunk

#6637 HADOOP-19115. Upgrade to nimbus-jose-jwt 9.37.2 due to CVE.
  LICENSE-binary
  hadoop-project/pom.xml
Labels: build, trunk

#6679 HDFS-17420. EditLogTailer and FSEditLogLoader support FGL
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSEditLogLoader.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/ha/EditLogTailer.java
Labels: HDFS, trunk

#6138 HDFS-17216. Distcp: When handle the small files, the bandwidth parameter will be invalid, fix this bug.
  hadoop-tools/hadoop-distcp/pom.xml
  hadoop-tools/hadoop-distcp/src/main/java/org/apache/hadoop/tools/util/ThrottledInputStream.java
  hadoop-tools/hadoop-distcp/src/test/java/org/apache/hadoop/tools/util/TestThrottledInputStream.java
Labels: build, DistCp, trunk, TOOLS

#6683 HDFS-17443. add null check for fileSys and cluster in TestNameEditsConfigs#testNameEditsConfigsFailure before shutting down
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/TestNameEditsConfigs.java
Labels: HDFS, trunk

#6681 YARN-11668. Fix RM crash for potential concurrent modification exception when updating node attributes
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/nodelabels/NodeAttributesManagerImpl.java
Labels: YARN, trunk

#6665 HADOOP-19124. Update org.ehcache from 3.3.1 to 3.8.2.
  LICENSE-binary
  hadoop-client-modules/hadoop-client-check-test-invariants/pom.xml
  hadoop-client-modules/hadoop-client-check-test-invariants/src/test/resources/ensure-jars-have-correct-contents.sh
  hadoop-project/pom.xml
Labels: build, trunk

#6589 HDFS-17388. [FGL] Client RPCs involving write process supports fine-grained lock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/BlockManager.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirAppendOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirDeleteOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirEncryptionZoneOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirStatAndListingOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirWriteFileOp.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/INodeFile.java
Labels: HDFS, trunk

#6410 HADOOP-19024. Use bouncycastle jdk18 1.77
  LICENSE-binary
  hadoop-client-modules/hadoop-client-integration-tests/pom.xml
  hadoop-cloud-storage-project/hadoop-cos/src/site/markdown/cloud-storage/index.md
  hadoop-common-project/hadoop-auth/pom.xml
  hadoop-common-project/hadoop-common/pom.xml
  hadoop-common-project/hadoop-kms/pom.xml
  hadoop-hdfs-project/hadoop-hdfs-httpfs/pom.xml
  hadoop-hdfs-project/hadoop-hdfs-nfs/pom.xml
  hadoop-hdfs-project/hadoop-hdfs-rbf/pom.xml
  hadoop-hdfs-project/hadoop-hdfs/pom.xml
  hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-app/pom.xml
  hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient/pom.xml
  hadoop-project/pom.xml
  hadoop-tools/hadoop-aws/pom.xml
  hadoop-tools/hadoop-azure/pom.xml
  hadoop-tools/hadoop-extras/pom.xml
  hadoop-tools/hadoop-gridmix/pom.xml
  hadoop-tools/hadoop-streaming/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-common/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-applicationhistoryservice/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-common/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-tests/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-web-proxy/pom.xml
Labels: YARN, MapReduce, HDFS, build, trunk, Common, RBF, TOOLS, AWS, ABFS

#6690 HDFS-17448. Enhance the stability of the unit test TestDiskBalancerCommand
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/diskbalancer/command/TestDiskBalancerCommand.java
Labels: HDFS, trunk

#6130 HDFS-17450. Better to have explicit dependency on httpclient jar
  hadoop-hdfs-project/hadoop-hdfs-client/pom.xml
Labels: HDFS, build, trunk
