Repository apache/hadoop, pull requests merged in 2024-02, with the labels that each got.

#6292 HADOOP-18987 Various fixes to FileSystem API docs
  hadoop-common-project/hadoop-common/src/site/markdown/filesystem/abortable.md
  hadoop-common-project/hadoop-common/src/site/markdown/filesystem/filesystem.md
  hadoop-common-project/hadoop-common/src/site/markdown/filesystem/fsdatainputstream.md
  hadoop-common-project/hadoop-common/src/site/markdown/filesystem/model.md
  hadoop-common-project/hadoop-common/src/site/markdown/filesystem/notation.md
Labels: trunk, Common

#6406 HADOOP-18980. S3A credential provider remapping: make extensible
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/conf/Configuration.java
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/util/StringUtils.java
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/util/TestStringUtils.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/Constants.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AUtils.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/auth/CredentialProviderListFactory.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/aws_sdk_upgrade.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/index.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AAWSCredentialsProvider.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/TestS3AAWSCredentialsProvider.java
Labels: trunk, Common, TOOLS, AWS

#6479 HADOOP-19044. AWS SDK V2 - Update S3A region logic
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/DefaultS3ClientFactory.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/aws_sdk_v2_changelog.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/connecting.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/index.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AEndpointRegion.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/test/PublicDatasetTestUtils.java
Labels: trunk, TOOLS, AWS

#6519 HADOOP-19061 Capture exception from rpcRequestSender.start() in IPC.Connection.run()
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/ipc/Client.java
Labels: trunk, Common

#6521 HDFS-17369. Add uuid into datanode info for NameNodeMXBean
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/namenode/TestNameNodeMXBean.java
Labels: HDFS, trunk

#6491 HDFS-17353. Fix failing RBF module tests.
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/TestRouterRpc.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/TestRouterRpcMultiDestination.java
Labels: HDFS, trunk, RBF

#6474 YARN-11362: Fix several typos in YARN codebase of misspelled resource
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-api/src/main/java/org/apache/hadoop/yarn/exceptions/SchedulerInvalidResourceRequestException.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-client/src/test/java/org/apache/hadoop/yarn/client/cli/TestYarnCLI.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-common/src/main/java/org/apache/hadoop/yarn/util/timeline/TimelineEntityV2Converter.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-applicationhistoryservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/ApplicationHistoryManagerOnTimelineStore.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/DefaultAMSProcessor.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/SchedulerUtils.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/capacity/allocator/RegularContainerAllocator.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/fair/FairScheduler.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/placement/LocalityAppPlacementAllocator.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/placement/SingleConstraintAppPlacementAllocator.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/test/java/org/apache/hadoop/yarn/server/resourcemanager/recovery/TestZKRMStateStore.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/test/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/capacity/TestCapacityScheduler.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/test/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/fair/TestFairScheduler.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/test/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/placement/TestSingleConstraintAppPlacementAllocator.java
Labels: YARN, trunk

#6488 HADOOP-19049. Fix StatisticsDataReferenceCleaner classloader leak
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/fs/FileSystem.java
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/fs/TestFileSystemStorageStatistics.java
Labels: trunk, Common

#6301 HADOOP-18993 Allow to not isolate S3AFileSystem classloader when needed
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/Constants.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AFileSystem.java
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AUtils.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/index.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AFileSystemIsolatedClassloader.java
Labels: trunk, TOOLS, AWS

#6522 HDFS-17370. Fix junit dependency for running parameterized tests in hadoop-hdfs-rbf
  hadoop-hdfs-project/hadoop-hdfs-rbf/pom.xml
Labels: HDFS, build, trunk, RBF

#6464 HDFS-17342. Fix DataNode may invalidates normal block causing missing block
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/DataNodeFaultInjector.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/fsdataset/impl/FsDatasetImpl.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/datanode/fsdataset/impl/TestFsDatasetImpl.java
Labels: HDFS, trunk

#6532 HADOOP-19045. CreateSession Timeout - followup
  hadoop-common-project/hadoop-common/src/main/resources/core-default.xml
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/performance.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/troubleshooting_s3a.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/impl/TestAwsClientConfig.java
  hadoop-tools/hadoop-aws/src/test/resources/core-site.xml
Labels: trunk, Common, TOOLS, AWS

#6533 HADOOP-19069. Use hadoop-thirdparty 1.2.0.
  hadoop-common-project/hadoop-common/pom.xml
  hadoop-project/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-api/pom.xml
Labels: YARN, build, trunk, Common

#6538 HADOOP-19059. Update AWS Java SDK to 2.23.19
  LICENSE-binary
  hadoop-project/pom.xml
Labels: build, trunk

#6540 HDFS-17376. Distcp creates Factor 1 replication file on target if Source is EC.
  hadoop-tools/hadoop-distcp/src/main/java/org/apache/hadoop/tools/mapred/RetriableFileCopyCommand.java
  hadoop-tools/hadoop-distcp/src/test/java/org/apache/hadoop/tools/TestDistCpWithRawXAttrs.java
Labels: DistCp, trunk, TOOLS

#6537 HADOOP-19071. Update maven-surefire-plugin from 3.0.0 to 3.2.5.
  dev-support/bin/hadoop.sh
  hadoop-project/pom.xml
Labels: build, trunk, Infra

#6510 HDFS-17362. RBF: Implement RouterObserverReadConfiguredFailoverProxyProvider
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/server/namenode/ha/RouterObserverReadConfiguredFailoverProxyProvider.java
  hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/server/namenode/ha/RouterObserverReadProxyProvider.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/TestObserverWithRouter.java
Labels: HDFS, build, trunk, RBF

#6515 HADOOP-19057. S3A: Landsat bucket used in tests no longer accessible
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/assumed_roles.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/auditing.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/committers.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/connecting.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/delegation_token_architecture.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/delegation_tokens.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/directory_markers.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/encryption.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/index.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/performance.md
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/testing.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AAWSCredentialsProvider.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AFailureHandling.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3APrefetchingCacheFiles.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/S3ATestConstants.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/S3ATestUtils.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/TestS3AAWSCredentialsProvider.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/adapter/TestV1CredentialsProvider.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/auth/ITestAssumeRole.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/auth/delegation/ITestDelegatedMRJob.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/auth/delegation/ITestRoleDelegationInFilesystem.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/auth/delegation/ITestSessionDelegationInFilesystem.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/auth/delegation/TestS3ADelegationTokenSupport.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/commit/staging/TestPaths.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/s3guard/ITestS3GuardTool.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/s3guard/TestAuthoritativePath.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/scale/ITestS3AInputStreamPerformance.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/statistics/ITestAWSStatisticCollection.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/test/PublicDatasetTestUtils.java
  hadoop-tools/hadoop-aws/src/test/resources/core-site.xml
Labels: trunk, Common, TOOLS, AWS

#6547 HADOOP-18088. Replace log4j 1.x with reload4j. (#4052)
  LICENSE-binary
  hadoop-assemblies/src/main/resources/assemblies/hadoop-dynamometer.xml
  hadoop-assemblies/src/main/resources/assemblies/hadoop-hdfs-nfs-dist.xml
  hadoop-assemblies/src/main/resources/assemblies/hadoop-httpfs-dist.xml
  hadoop-assemblies/src/main/resources/assemblies/hadoop-kms-dist.xml
  hadoop-assemblies/src/main/resources/assemblies/hadoop-mapreduce-dist.xml
  hadoop-assemblies/src/main/resources/assemblies/hadoop-nfs-dist.xml
  hadoop-assemblies/src/main/resources/assemblies/hadoop-tools.xml
  hadoop-assemblies/src/main/resources/assemblies/hadoop-yarn-dist.xml
  hadoop-client-modules/hadoop-client-check-invariants/pom.xml
  hadoop-client-modules/hadoop-client-check-test-invariants/pom.xml
  hadoop-client-modules/hadoop-client-integration-tests/pom.xml
  hadoop-client-modules/hadoop-client-minicluster/pom.xml
  hadoop-client-modules/hadoop-client-runtime/pom.xml
  hadoop-client-modules/hadoop-client/pom.xml
  hadoop-common-project/hadoop-auth-examples/pom.xml
  hadoop-common-project/hadoop-auth/pom.xml
  hadoop-common-project/hadoop-common/pom.xml
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/util/GenericsUtil.java
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/util/TestClassUtil.java
  hadoop-common-project/hadoop-kms/pom.xml
  hadoop-common-project/hadoop-minikdc/pom.xml
  hadoop-common-project/hadoop-nfs/pom.xml
  hadoop-hdfs-project/hadoop-hdfs-client/pom.xml
  hadoop-hdfs-project/hadoop-hdfs-httpfs/pom.xml
  hadoop-hdfs-project/hadoop-hdfs-nfs/pom.xml
  hadoop-hdfs-project/hadoop-hdfs-rbf/pom.xml
  hadoop-hdfs-project/hadoop-hdfs/pom.xml
  hadoop-mapreduce-project/hadoop-mapreduce-client/pom.xml
  hadoop-project/pom.xml
  hadoop-tools/hadoop-azure/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-distributedshell/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-services/hadoop-yarn-services-core/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-client/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-common/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-documentstore/pom.xml
Labels: YARN, MapReduce, HDFS, build, trunk, Common, RBF, TOOLS, ABFS

#6498 HDFS-17354: Delay invoke clearStaleNamespacesInRouterStateIdContext during router start up
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/RouterRpcServer.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/MockResolver.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/TestRouterRpc.java
Labels: HDFS, trunk, RBF

#6504 HDFS-17146.Use the dfsadmin -reconfig command to initiate reconfiguration on all decommissioning datanodes.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/tools/DFSAdmin.java
  hadoop-hdfs-project/hadoop-hdfs/src/site/markdown/HDFSCommands.md
  hadoop-hdfs-project/hadoop-hdfs/src/site/markdown/HdfsUserGuide.md
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/tools/TestDFSAdmin.java
Labels: HDFS, trunk

#6508 HDFS-17361. DiskBalancer: Query command support with multiple nodes
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/diskbalancer/command/QueryCommand.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/tools/DiskBalancerCLI.java
  hadoop-hdfs-project/hadoop-hdfs/src/site/markdown/HDFSDiskbalancer.md
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/server/diskbalancer/command/TestDiskBalancerCommand.java
Labels: HDFS, trunk

#5881 Hadoop-18759: [ABFS][Backoff-Optimization] Have a Static retry policy for connection timeout.
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/AbfsConfiguration.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/AzureBlobFileSystemStore.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/constants/ConfigurationKeys.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/constants/FileSystemConfigurations.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/AbfsClient.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/AbfsClientContext.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/AbfsClientContextBuilder.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/AbfsHttpOperation.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/AbfsRestOperation.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/AbfsRetryPolicy.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/ExponentialRetryPolicy.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/RetryPolicyConstants.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/services/StaticRetryPolicy.java
  hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop/fs/azurebfs/utils/TracingContext.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/ITestAzureBlobFileSystemE2E.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/ITestAzureBlobFileSystemListStatus.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/TestAbfsConfigurationFieldsValidation.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/TestTracingContext.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/extensions/MockDelegationSASTokenProvider.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/AbfsClientTestUtil.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/ITestAbfsClient.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/ITestAbfsRestOperation.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/ITestExponentialRetryPolicy.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/ITestStaticRetryPolicy.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/TestAbfsPerfTracker.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/TestAbfsRenameRetryRecovery.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/TestAbfsRestOperationMockFailures.java
  hadoop-tools/hadoop-azure/src/test/java/org/apache/hadoop/fs/azurebfs/services/TestAzureADAuthenticator.java
Labels: trunk, TOOLS, ABFS

#6108 HDFS-17181 WebHDFS: Route all CREATE requests to the BlockManager
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/web/resources/NamenodeWebHdfsMethods.java
Labels: HDFS, trunk

#6526 HADOOP-19065. Improve Protocol Buffers installation
  BUILDING.txt
  dev-support/docker/Dockerfile
  dev-support/docker/Dockerfile_aarch64
  dev-support/docker/Dockerfile_centos_7
  dev-support/docker/Dockerfile_centos_8
  dev-support/docker/Dockerfile_debian_10
  dev-support/docker/pkg-resolver/install-protobuf.sh
Labels: trunk, Infra

#6578 Revert "HADOOP-19071. Update maven-surefire-plugin from 3.0.0 to 3.2.5."
  dev-support/bin/hadoop.sh
  hadoop-project/pom.xml
Labels: build, trunk, Infra

#6567 HDFS-17393. Remove unused FSNamesysteLock `cond` in FSNamesystem
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
Labels: HDFS, trunk

#6588 HDFS-17393. Remove unused FSNamesytemLock cond in FSNamesystem
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
Labels: HDFS, trunk

#6509 HDFS-17358. EC: infinite lease recovery caused by the length of RWR equals to zero or datanode does not have the replica.
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/BlockRecoveryWorker.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/datanode/erasurecode/StripedBlockReader.java
  hadoop-hdfs-project/hadoop-hdfs/src/test/java/org/apache/hadoop/hdfs/TestLeaseRecoveryStriped.java
Labels: HDFS, trunk

#6571 HDFS-17394. [FGL] Remove unused WriteHoldCount of FSNamesystemLock
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/ContentSummaryComputationContext.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSDirectory.java
  hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/namenode/FSNamesystem.java
Labels: HDFS, trunk
