Repository apache/hadoop, pull requests merged in 2025-05, with the labels that each got.

#7665 YARN-11815: Fix NodeQueueLoadMonitor scheduler running on standby RMs
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/OpportunisticContainerAllocatorAMService.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/main/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/distributed/NodeQueueLoadMonitor.java
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/test/java/org/apache/hadoop/yarn/server/resourcemanager/MockRM.java
Labels: YARN, trunk

#7634 HADOOP-19421. [JDK17] Upgrade JUnit from 4 to 5 in hadoop-aliyun.
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/ITAliyunOSSSignatureV4.java
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/TestAliyunCredentials.java
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/TestAliyunOSSBlockOutputStream.java
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/TestAliyunOSSFileSystemContract.java
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/TestAliyunOSSFileSystemStore.java
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/TestAliyunOSSInputStream.java
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/fileContext/TestOSSFileContextUtil.java
  hadoop-tools/hadoop-aliyun/src/test/java/org/apache/hadoop/fs/aliyun/oss/yarn/TestOSS.java
Labels: trunk, TOOLS

#7661 HADOOP-19417. [Addendum] [JDK17] Upgrade JUnit from 4 to 5 in hadoop-minikdc.
  hadoop-common-project/hadoop-minikdc/pom.xml
Labels: build, trunk, Common

#7673 HADOOP-19560. Update build instructions for Windows
  BUILDING.txt
Labels: trunk

#7666 HADOOP-19558. Skip testRenameFileBeingAppended on Windows
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/fs/contract/rawlocal/TestRawlocalContractAppend.java
Labels: trunk, Common

#7675 YARN-11818. Fix "submitted by user jenkins to unknown queue: default error " in hadoop-yarn-client tests.
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-client/src/test/java/org/apache/hadoop/yarn/client/cli/TestSchedConfCLI.java
Labels: YARN, trunk

#7608 HADOOP-19540. [JDK17] Add ubuntu:noble as a build platform with JDK-17 as default
  BUILDING.txt
  dev-support/docker/Dockerfile_ubuntu_24
  dev-support/docker/pkg-resolver/packages.json
  dev-support/docker/pkg-resolver/platforms.json
  hadoop-project/pom.xml
  start-build-env.sh
Labels: build, trunk, Infra, Native

#7644 HADOOP-19551. Fix compilation error of native libraries on newer GCC.
  hadoop-common-project/hadoop-common/HadoopCommon.cmake
Labels: trunk, Common, Native

#7652 HADOOP-19426. [JDK17] Upgrade JUnit from 4 to 5 in hadoop-azure-datalake Part1.
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/TestAzureADTokenProvider.java
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/TestRelativePathFormation.java
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/TestValidateConfiguration.java
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/live/TestAdlDifferentSizeWritesLive.java
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/live/TestAdlInternalCreateNonRecursive.java
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/live/TestAdlSdkConfiguration.java
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/live/TestAdlSupportedCharsetInPath.java
  hadoop-tools/hadoop-azure-datalake/src/test/java/org/apache/hadoop/fs/adl/live/TestMetadata.java
Labels: trunk, TOOLS

#7284 HADOOP-19384. S3A: Add support for ProfileCredentialsProvider
  hadoop-common-project/hadoop-common/src/main/resources/core-default.xml
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/auth/ProfileAWSCredentialsProvider.java
  hadoop-tools/hadoop-aws/src/site/markdown/tools/hadoop-aws/authentication.md
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/TestS3AAWSCredentialsProvider.java
Labels: trunk, Common, TOOLS, AWS

#7497 YARN-11793: Replace Grizzly with Jetty in Jersey Test Framework
  LICENSE-binary
  hadoop-client-modules/hadoop-client-minicluster/pom.xml
  hadoop-client-modules/hadoop-client-runtime/pom.xml
  hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-app/pom.xml
  hadoop-mapreduce-project/hadoop-mapreduce-client/pom.xml
  hadoop-mapreduce-project/hadoop-mapreduce-examples/pom.xml
  hadoop-project/pom.xml
  hadoop-tools/hadoop-resourceestimator/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-client/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-common/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-applicationhistoryservice/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-globalpolicygenerator/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-nodemanager/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-timelineservice-hbase-tests/pom.xml
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-web-proxy/pom.xml
Labels: YARN, MapReduce, build, trunk, TOOLS

#7651 HADOOP-19554. LocalDirAllocator still doesn't always recover from directory deletion
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/fs/LocalDirAllocator.java
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/fs/TestLocalDirAllocator.java
Labels: trunk, Common

#7683 HADOOP-19554. LocalDirAllocator still doesn't always recover from directory deletion
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/fs/LocalDirAllocator.java
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/fs/TestLocalDirAllocator.java
Labels: trunk, Common

#7680 HADOOP-19563. Upgrade libopenssl to 3.1.2 on Windows
  dev-support/docker/Dockerfile_windows_10
Labels: trunk, Infra

#7586 HADOOP-19433. [JDK17] Upgrade JUnit from 4 to 5 in hadoop-extras.
  hadoop-tools/hadoop-extras/src/test/java/org/apache/hadoop/mapred/tools/TestGetGroups.java
  hadoop-tools/hadoop-extras/src/test/java/org/apache/hadoop/tools/TestDistCh.java
Labels: trunk, TOOLS

#7679 HADOOP-19562. Fix TestTextCommand on Windows
  hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/fs/shell/TestTextCommand.java
Labels: trunk, Common

#7689 HADOOP-19570. Upgrade libxxhash to 0.8.3 in Windows 10
  dev-support/docker/Dockerfile_windows_10
Labels: trunk, Infra

#7699 HADOOP-19573. S3A: ITestS3AConfiguration.testDirectoryAllocatorDefval() failing
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/impl/S3AStoreImpl.java
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AConfiguration.java
Labels: trunk, TOOLS, AWS

#7692 HADOOP-19571. Improve PrometheusMetricsSink#normalizeName performance
  hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/metrics2/sink/PrometheusMetricsSink.java
Labels: trunk, Common

#7701 HADOOP-19567. S3A: error stack traces printed on analytics stream factory close
  hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/impl/streams/AnalyticsStreamFactory.java
Labels: trunk, TOOLS, AWS

#7659 YARN-11816. Fix flaky test: TestCapacitySchedulerMultiNodes#testCheckRequestOnceForUnsatisfiedRequest
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-server/hadoop-yarn-server-resourcemanager/src/test/java/org/apache/hadoop/yarn/server/resourcemanager/scheduler/capacity/TestCapacitySchedulerMultiNodes.java
Labels: YARN, trunk

#7703 HDFS-17788. [ARR] getFileInfo not handle exception rightly which may cause FileNotFoundException in DistributedFileSystem
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/async/RouterAsyncClientProtocol.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/async/TestRouterAsyncRpcWhenNamenodeFailover.java
Labels: HDFS, trunk, RBF

#7714 HDFS-17793. [ARR] RBF: Enable the router asynchronous RPC feature to handle DelegationToken request errors
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/RouterClientProtocol.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/async/RouterAsyncClientProtocol.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/test/java/org/apache/hadoop/hdfs/server/federation/router/async/TestRouterAsyncRpc.java
Labels: HDFS, trunk, RBF
