Repository apache/hadoop, pull requests merged in 2025-10, with the labels that each got.

#7998 HADOOP-19707: Add quiet-surefire profile for tests
  hadoop-project/pom.xml
Labels: build, trunk

#6486 HADOOP-19037. AWS SDK v2: ITestS3AConfiguration failing with region problems
  hadoop-tools/hadoop-aws/src/test/java/org/apache/hadoop/fs/s3a/ITestS3AConfiguration.java
Labels: trunk, TOOLS, AWS, Stale

#8015 HADOOP-19717. Resolve build error caused by missing Checker Framework (NonNull not recognized).
  hadoop-cloud-storage-project/hadoop-tos/src/main/java/org/apache/hadoop/fs/tosfs/util/Iterables.java
  hadoop-hdfs-project/hadoop-hdfs-rbf/src/main/java/org/apache/hadoop/hdfs/server/federation/router/RouterRpcServer.java
Labels: HDFS, trunk, RBF

#8016 YARN-11875. Fix build failure caused by color@5.0.2.
  hadoop-yarn-project/hadoop-yarn/hadoop-yarn-applications/hadoop-yarn-applications-catalog/hadoop-yarn-applications-catalog-webapp/package.json
Labels: YARN, trunk
